.header-bg {
  background: var(--cor09);
}
.header {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}
.header img {
  grid-column: 1/-1;
  margin: 0 auto;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu a {
  display: block;
  color: var(--white);
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 10px;
  padding: 10px;
}
.menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primaria-01);
  transition: 0.5s;
}
.menu a:hover::after {
  width: 100%;
  box-shadow: 0px 0px 5px var(--primaria-01), 0px 0px 10px var(--primaria-01);
}
.header-conteudo {
  padding: 32px 0px;
  grid-column: 1;
  border-top: 1px solid var(--primaria-01);
}
.header h1 {
  color: var(--cor01);
  font-size: 2.5rem;
}
.header h2 {
  color: var(--cor01);
  line-height: 1;
  font-size: 2rem;
}
.header p {
  font-size: 1.25rem;
  color: var(--cor04);
  padding-top: 8px;
}
.header span {
  color: var(--primaria-01);
}

/*Media Query */

@media (min-width: 768px) {
  .header ul {
    padding: 16px 0px;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .header h2 {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}
@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-content: space-around;
  }
  .header img {
    grid-column: 1;
  }
  .menu {
    grid-column: 2/-1;
  }
  .header ul {
    justify-content: end;
  }
  .header-conteudo {
    grid-column: 1/-1;
  }
  .header h1 {
    font-size: 4rem;
    margin-top: 100px;
  }
  .header h2 {
    font-size: 3rem;
    line-height: 1.5;
  }
  .header p {
    margin-bottom: 100px;
  }
}
