.sobre-bg {
  background: var(--cor10);
  color: var(--white);
}
.sobre {
  display: flex;
  flex-wrap: wrap;
}
.sobre-conteudo {
  flex: 1 1 360px;
  align-self: center;
}
.sobre-conteudo p {
  padding: 0px 24px 24px 10px;
  font-size: 1.2rem;
}
.header-imagem {
  flex: 1 1 360px;
  padding-bottom: 120px;
}
.header-imagem img {
  border-radius: 5px;
}
