.font-titulo-g {
  font: 700 4rem/1.5 "Montserrat Alternates";
}
.font-titulo-m {
  font: 700 3rem/1.5 "Montserrat Alternates";
}
.font-titulo-p {
  font: 700 2rem/1.5 "Montserrat Alternates";
}
